# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Exclude Library and other generated folders
[Library/**]
charset = unset
end_of_line = unset

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]
charset = utf-8
indent_style = space
indent_size = 4

# Unity meta files
[*.meta]
charset = utf-8
